$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$yellow-color: #ffba49;

$fontText: "Roboto", sans-serif;

// Hero-Section

#hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../../img/home/header.png) no-repeat right center/55%;
  div {
    width: 59%;
    padding-left: 12%;
    h1 {
      margin-bottom: 21px;
    }
    p {
      margin-bottom: 45px;
    }
    li {
      padding: 27px 100px;
      display: inline-block;
      border-radius: 5px;
      background-color: $purple-color;
      color: $white-color;
    }
  }
}

// Live different

#live-different {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    width: 35%;
    text-align: center;
  }
  div {
    margin: 0 auto;
    width: 96%;
    display: flex;
    justify-content: space-evenly;
    background: url(../../img/home/background-right.png) no-repeat right top;
    article {
      width: 30%;
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 96%;
        margin-bottom: 8%;
      }

      p {
        width: 80%;
        padding-top: 4%;
      }
    }
    article:nth-of-type(1) {
      position: relative;
      img:nth-of-type(1) {
        height: 40%;
        width: auto;
        position: absolute;
        top: 250px;
        left: -100px;
      }
    }
    article:nth-of-type(2) {
      margin-top: 8%;
    }
    article:nth-of-type(3) {
      margin-top: 16%;
      position: relative;
      img:nth-of-type(1) {
        height: 40%;
        width: auto;
        position: absolute;
        top: -100px;
        left: 0;
      }
      img:nth-of-type(2) {
        height: 40%;
        width: auto;
        position: absolute;
        top: 150px;
        left: 350px;
      }
    }
  }
}

// Color section

#color {
  min-height: 112vh;
  background: url(../../img/home/color-curved-bg.svg) no-repeat bottom center;
  background-clip: border-box;
  margin-bottom: 2%;

  div {
    display: flex;
    flex-direction: column;

    article {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 250px;
    }
    article:nth-of-type(2) {
      justify-content: flex-end;
      max-width: 60%;
      align-self: flex-end;
      padding-left: 0;
      padding-right: 345px;
    }
    .article-text {
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 548px;
      padding: 150px 0 0 70px;
      h3,
      p {
        color: $white-color;
        width: 480px;
      }
      h3 {
        width: 101px;
      }

      li {
        background: $yellow-color;
        color: $white-color;
        width: 256px;
        height: 64px;
        border-radius: 5px;

        text-align: center;
        padding-top: 22px;
      }
    }
    article:nth-of-type(2) .article-text {
      padding: 0;
      h3 {
        width: 200px;
      }
    }
  }
}

// Echte Menschen

#people {
  min-height: 50vh;
  background: url(../../img/home/menschen.png) no-repeat bottom center/90%;
  text-align: center;
  p {
    color: $purple-color;
    width: 35%;
    margin: 0 auto;
    margin-top: 2%;
  }
}
