@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$yellow-color: #ffba49;
$grayish-color: #f5f5f5;
$fontText: "Roboto", sans-serif;

$breakpoint-macbook: 1440px;
$breakpoint-laptop-end: 1281px;
$breakpoint-laptop: 1280px;
$breakpoint-ipadpro-end: 1025px;
$breakpoint-ipadpro: 1024px;
$breakpoint-ipad-end: 769px;
$breakpoint-ipad: 768px;
$breakpoint-surface-end: 541px;
$breakpoint-surface: 540px;
$breakpoint-iphone-end: 375px;
$breakpoint-iphone: 375px;

#product-detail {
  padding: 5em;
  article {
    margin-bottom: 2em;
    justify-content: space-between;
    // flex-direction: column;
    // display: flex;
    #bigtitle{
      font-weight: 600;
      font-size: 2em;
      margin-bottom: 1em;
    }
    .detailBox{
      display: flex;
      gap: 4em;
      
      // justify-content: space-between;
      figure {
        width: 60%;
        // display: flex;
        // justify-content: space-between;
        figcaption{
          padding:2em 5em 2em 0;
        }
        img {
          // width: 100%;
          object-fit: contain;
          width: 900px;
          height: 630px;
        }
        // #img-product-full {
        //   width: 900px;
        //   height: 630px;
        //   object-fit: cover;
        // }
        // div {
        //   font-size: 1.2rem;
        //   width: 40%;
        //   #bigtitle,
        //   #bigprice {
        //     font-size: 2.2rem;
        //   }
        //   #bigtitle {
        //     font-weight: 700;
        //   }
        // }
      }
      div{
        #bigprice{
          font-weight: 600;
          font-size: 2em;
        }
        .kontakt{
          padding-top: 2em;
          font-weight: 600;
          font-size: 2em;
        }
      }
    }
    // gap: 2em;
    .isSoldMessage{
      width: 50%;
      color: $purple-color;
      font-weight: bold;
    }
    
    div {
      // padding: 2em;
      a {
        padding: 1em;
        border-radius: 0.5em;
        margin-bottom: 1em;
        display: inline-block;
      }
      .btn-white {
        background-color: $white-color;
        color: $purple-color;
        border: 1px solid;
        padding: 0.7rem 2rem;
        margin-right: 1%;
      }
      button {
        width: 154px;
        height: 47px;
        border: none;
        background-color: $purple-color;
        border-radius: 0.5em;
        display: inline-block;
        color: $white-color;
        margin-right: 1em;
      }
      .like {
        padding: 1em;
        border-radius: 0.5em;
        background-color: $purple-color;
        display: inline-block;
        color: $white-color;
        text-align: center;
        
        .heart::after {
          background-image: url("../../img/shop/like-plus.svg");
          background-size: 34px 21px;
          display: inline-block;
          width: 34px;
          height: 21px;
          content: "";
        }
      }
      p {
        margin-bottom: 1em;
      }
    }
  }
}
.soldProduct {
  filter: grayscale(100%); /* Standard */
  -webkit-filter: grayscale(100%); /* Webkit */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.inWishlist {
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  width: 240px;
  justify-content: space-between;
  // .heart::after {
  //   background-image: url("../../img/shop/like.svg");
  //   background-size: 16px 16px;
  //   display: inline-block;
  //   width: 16px;
  //   height: 16px;
  //   content: "";
  // }
}

#edit {
  width: 100%;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  #editbutton {
    width: 152px;
    height: 45px;
    border: 1px solid $purple-color;
    border-radius: 0.5em;
    background-color: $white-color;
    color: $purple-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: 1em;
  }
}

// Mediaqueries
// Ipad Pro
@media (min-width: $breakpoint-ipad-end) and (max-width: $breakpoint-ipadpro) {
  #product-detail {
    padding: 2em;

    article {
      figure {
        flex-direction: column;
        img {
          width: 100%;
        }
        div {
          width: 100%;
        }
      }
    }
  }
}
// Ipad
@media (min-width: $breakpoint-surface-end) and (max-width: $breakpoint-ipad) {
  #product-detail {
    padding: 0;
    padding-top: 10%;

    article {
      figure {
        flex-direction: column;
        img {
          width: 100%;
        }
        #img-product-full {
          width: 600px;
          height: 420px;
          object-fit: cover;
        }
        div {
          width: 100%;
        }
      }
    }
  }
}

// Surface
@media (min-width: $breakpoint-iphone-end) and (max-width: $breakpoint-surface) {
  #product-detail {
    padding: 0;
    padding-top: 10%;
    article {
      figure {
        flex-direction: column;
        img {
          width: 100%;
        }
        #img-product-full {
          width: 500px;
          height: 350px;
        }
        div {
          width: 100%;
        }
      }
    }
  }
}

// Iphone
@media (max-width: $breakpoint-iphone) {
  #product-detail {
    padding-top: 10%;
    article {
      figure {
        flex-direction: column;
        img {
          width: 100%;
        }
        #img-product-full {
          width: 350px;
          height: 245px;
        }
        div {
          width: 100%;
        }
      }
    }
  }
}
