@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$yellow-color: #ffba49;

$fontText: "Roboto", sans-serif;

$breakpoint-ipadpro-end: 1025px;
$breakpoint-ipadpro: 1024px;
$breakpoint-ipad-end: 769px;
$breakpoint-ipad: 768px;
$breakpoint-surface-end: 541px;
$breakpoint-surface: 540px;


footer {
    #footer-register {
        background: $purple-color;
        min-height: 20vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20%;
        position: relative;
            h4 {
                font-size: 1.5rem;
                color: $white-color;
            }
            .btn-register {
                background: $purple-color;
                color: $white-color;
                border: 2px solid $white-color;
                border-radius: 5px;
                padding: 16px 35px;
                white-space: nowrap
            }
            img {
                width: 5%;
                position: absolute;
                bottom: -20px;
                right: 100px;
            }
    }
    #footer-icons { 
        display: flex;
        justify-content: space-evenly;
        margin: 3% 0;
        .icons img {
                padding-left: 40px;
        }
        .copyright {
            p, a {
                font-size: 0.7rem;
            }
            a {
                text-decoration: underline;
                display: inline;
                padding-left: 5px;
        }
        }
    }  
}      

@media (max-width: $breakpoint-ipadpro) {
    footer {
        #footer-register {
            background: #7854f7;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 3%;
            position: relative;
            min-height: 15vh;
            h4 {
                font-size: 1rem;
            }
            .MuiButton-label {
                font-size: .6rem;
            }
        }
    }
}

@media (max-width: $breakpoint-surface) {
    footer {
        text-align: center;
        #footer-register {
            h4 {
                font-size: .9rem;
            }
            .MuiButton-label {
                font-size: .8rem;
            }
        }
        #footer-icons {
            display: block;
            margin: 5% 0;
            .icons {
                .twitter-icon {
                    padding-left: 0;
                }
            }
        }
    }
}
