@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$input-purple: rgba(95, 55, 239, 0.1);
$yellow-color: #ffba49;

$fontText: "Roboto", sans-serif;

$breakpoint-macbook: 1440px;
$breakpoint-laptop-end: 1281px;
$breakpoint-laptop: 1280px;
$breakpoint-ipadpro-end: 1025px;
$breakpoint-ipadpro: 1024px;
$breakpoint-ipad-end: 769px;
$breakpoint-ipad: 768px;
$breakpoint-surface-end: 541px;
$breakpoint-surface: 540px;
$breakpoint-iphone-end: 375px;
$breakpoint-iphone: 375px;

#add-product {
    margin: 8vh 20% 12vh 14%;
    form {
        div {
            width: 100%;
            margin-bottom: 5vh;
                input[type=text], input[type=number], select {
                    background: $input-purple;
                    border: none;
                    border-radius: 5px;
                    padding: 8px 0;
                    color: $blue-dark_color;
                    padding-left: 10px;
                }
                select {
                    width: 35%;
                }
                input[type=text] {
                    color: $blue-dark_color;
                    width: 75%;
                }
                input[type=radio] {
                    margin-right: 6px;
                }
            } 
        div label:first-of-type {
            display: inline-block;
            width: 25%;
        }
        #search {
            margin-left: 8%;
        }
        #delivery-yes, #pickup-no {
            margin-left: 13%;
        }

        #description-input {
            padding: 30px 10px;
        }
        .price { 
            input[type=radio]:not(:first-of-type) {
                margin-left: 5%;
            }
            label:nth-of-type(2) {
                padding-left: 10px;
            }
        }
        .upload {
            display: flex;
            align-items: center;
            .upload-btn {
                width: 0%;
                img {
                margin-bottom: 20px;
                }
                input {
                    background: $blue-light_color;
                }
            }
        }
        .form-images { 
            .dots-circles {
                position: relative;
                bottom: 35vh;
                left: 100%;
                width: 30%;
            }
            .four-circles {
                position: relative;
                bottom: 5vh;
                right: 45%;
                width: 25%;
            }
            .five-circles {
                position: relative;
                top: 20vh;
                left: 45%;
                width: 25%;
            } 
        }
        .address {
            display: flex;
            #postcode {
                width: 20%;
                margin-right: 10px;
            }
            #city-input {
            width: 55%;
            }
        }
        .phone-container input {
            width: 75%;
        }
        .submit-input {
            text-align: center;
            padding-top: 5vh;
                input[type=submit] {
                    color: $white-color;
                    background: $purple-color;
                    border: none;
                    border-radius: 5px;
                    padding: 20px 40px;
                }
        }
    }
}


//Mediaqueries
// Ipad Pro
@media (min-width: $breakpoint-ipad-end) and (max-width: $breakpoint-ipadpro) { 
    #currency + label {
        display: block;
    }

}