@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$yellow-color: #ffba49;

$fontText: "Roboto",
sans-serif;

$breakpoint-laptop: 1280px;
$breakpoint-ipadpro: 1024px;
$breakpoint-ipad: 768px;
$breakpoint-surface: 540px;
$breakpoint-iphone: 375px;

#auth {
    background: url('../../img/auth/authBG.png') center / 90% no-repeat, linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
    height: 120vmin;
    position: relative;
    padding-bottom: 10rem;

    .container-auth {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 530px;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .context {
            width: 100%;

            h2 {
                text-align: center;
                font-size: 2rem;
                width: 50%;
                margin: 0 auto;
            }
        }

        .paper {
            box-shadow: 0px 26px 37px rgba(13, 22, 36, 0.363055);
            border-radius: 16px;
            width: 100%;
            height: 100%;
            padding: 50px;
            margin-top: 3%;

            h3,
            h4,
            h5 {
                display: block;
                width: 100%;
                text-align: center;
                margin: 2% 0;
            }
        }

        #googleButton {
            img {
                width: 30%;
            }
        }

        .signUp {
            margin: 5% 0;
            color: white;
            width: 100%;
            padding: 10px;
            background-color: $blue-color;
            border-radius: 4px;
            border: none;
        }

        .btn {
            font-weight: 300;
            text-transform: inherit;
            color: $purple-color;
        }
    }
}



// BREAK-POINT: 1024px
@media (max-width: $breakpoint-ipadpro) {
    #auth {
        height: 100vmin;

        .container-auth {
            padding-top: 4rem;
        }
    }
}


// BREAK-POINT: 768px
@media (max-width: $breakpoint-ipad) {
    #auth {
        height: 110vmin;

        .container-auth {
            padding-top: 4rem;
        }
    }
}

// BREAK-POINT: 540x
@media (max-width: $breakpoint-surface) {
    #auth {
        width: 100%;
        height: 150vmin;
        padding:10%;

        .container-auth {
            padding-top: 4rem;
            .paper {
                width: 80%;
                padding: 20px;
            }
        }
    }
}