@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$white-color:#FFFFFF;
$blue-dark_color:#272D4E;
$blue-color:#0E65F3;
$blue-light_color:#1A88EE;
$purple-light_color:#B6A6FB;
$purple-color:#7854F7;
$yellow-color:#FFBA49;

$fontText:'Roboto', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontText;
    color: $blue-dark_color;
}
// HOME
body{
    header{
        font-size: 1em;
    }
    main{
        min-height: 100vh;
        #home{
            background: red;
        }
        #marketplace{
            background: blue;
        }
        
    }

    footer{
        // background: url(../img/home/circle-footer.png) center / cover no-repeat;
        #footer-register{
            background: $purple-color;
            min-height: 20vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
                h4{
                    color: $white-color;
                }
                button{
                    background: $purple-color;
                    color: $white-color;
                    border: 1px solid $white-color;
                    border-radius: 5px;
                    padding: 18px 20px;
                }
                img{
                    width: 5%;
                    position: absolute;
                    bottom: -20px;
                    right: 100px;
                }
        }
        #footer-icons{ 
            display: flex;
            justify-content: space-evenly;
            margin: 5vh 0 6vh;
            .icons img{
                    padding-left: 40px;
            }
            .copyright a{
                    display: inline;
                    padding-left: 5px;
            }
        }  
    }
}