@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$input-purple: rgba(95, 55, 239, 0.1);
$yellow-color: #ffba49;
$grayish-color: #f5f5f5;
$fontText: "Roboto", sans-serif;
$breakpoint-ipadpro-end: 1025px;
$breakpoint-ipadpro: 1024px;
$breakpoint-ipad-end: 769px;
$breakpoint-ipad: 768px;
$breakpoint-surface-end: 541px;
$breakpoint-surface: 540px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontText;
  font-size: 18px;
  // color: $blue-dark_color;
}
body {
  color: $blue-dark_color;
  background-image: linear-gradient(
    to top,
    #e5efff,
    rgba(229, 239, 255, 0.26),
    rgba(229, 239, 255, 0)
  );
}
// General

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

// Headings and text
h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 4.8rem;
  line-height: 1.12;
}

h2 {
  font-size: 3.1rem;
  line-height: 1.27;
}

h3,
h4 {
  font-size: 2rem;
}

p {
  line-height: 1.66rem;
}

main {
  margin-top: 7%;
}

@media (min-width: $breakpoint-ipad-end) and (max-width: $breakpoint-ipadpro) {
  // Headings and text

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3,
  h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: $breakpoint-ipad) {
  // Headings and text

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3,
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8rem;
  }
}
