@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$yellow-color: #ffba49;
$grayish-color: #f5f5f5;
$frame-color: #d1d1d1;
$fontText: "Roboto", sans-serif;

#marketplace-main {
  #search {
    width: 35%;
    margin: 0 auto;
    display: block;
    background: $purple-light_color url(../../img/shop/search.png) 3% / 16px
      no-repeat;
    border: none;
    border-radius: 5px;
    height: 6vh;
    padding-left: 5%;
  }
  ::placeholder {
    font-size: 0.8rem;
    color: $blue-dark_color;
  }
  #addproduct {
    padding: 1.5rem;
    background-color: $purple-color;
    border-radius: 0.5em;
    color: $white-color;
    text-align: center;
    display: block;
    width: 15%;
    margin: 2% auto;
  }
  .marketplace-headers {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      width: 80%;
      margin-bottom: 3%;
    }
    p {
      width: 68%;
      margin-bottom: 4%;
    }
  }
}
#marketplace,
#product-sold {
  padding: 5em;
  display: grid;
  grid-template-columns: 1fr 3fr;

  aside {
    div {
      display: flex;
      flex-direction: column;
      width: 80%;
      li {
        display: flex;
        justify-content: space-between;
        margin-top: 4%;
        input[type="checkbox"] {
          margin-right: 10px;
        }
        input[type="checkbox"]:checked {
          position: relative;
        }
        input[type="checkbox"]:checked::before {
          content: "\2713";
          color: $white-color;
          font-size: 0.7rem;
          text-align: center;
          background: $purple-color;
          position: absolute;
          top: 0;
          left: 0;
          height: 13px;
          width: 13px;
          border-radius: 3px;
        }
        span {
          color: $purple-color;
          background: $grayish-color;
          padding: 1px 12px;
          border-radius: 12px;
        }
      }
      li:last-of-type {
        margin-bottom: 10%;
      }
      .min-max-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
      }
      .min-max {
        width: 30%;
        border: 1px solid gray;
        border-radius: 5px;
        text-align: center;
      }
      .filter-btn {
        display: inline;
        margin-top: 20%;
      }
      .filter-btn button:first-of-type {
        color: $white-color;
        background: $purple-color;
        border: none;
        border-radius: 10px;
        height: 50px;
        width: 110px;
      }
      .filter-btn button:last-of-type {
        color: $blue-dark_color;
        background: $white-color;
        border: none;
        margin-left: 10%;
      }
    }
  }

  article {
    margin-bottom: 2em;
    align-items: center;
    display: flex;
    gap: 2em;
    border: solid 1px $frame-color;
    img {
      width: 400px;
      height: 400px;
      object-fit: cover;
    }
    div {
      padding: 2em;
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction: column;
      .price,
      .title {
        font-weight: 700;
      }
      a {
        padding: 1em;
        background-color: $purple-color;
        border-radius: 0.5em;
        margin-bottom: 1em;
        color: $white-color;
        text-align: center;
        .arrow::after {
          content: "\003E";
          font-weight: bold;
        }
      }
      .like {
        padding: 1em;
        border-radius: 0.5em;
        background-color: $grayish-color;
        text-align: center;
        .heart::after {
          background-image: url("../../img/shop/like.svg");
          background-size: 16px 16px;
          display: inline-block;
          width: 16px;
          height: 16px;
          content: "";
        }
      }
      p {
        margin-bottom: 1em;
      }
    }
  }
}

// SLIDER

input[type="range"] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animation: 0.2s;
  background: $purple-color;
  border-radius: 15px;
}
input[type="range"]::-webkit-slider-thumb {
  border: 1px solid gray;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.heart.liked {
  background-color: red;
}
