@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$yellow-color: #ffba49;
$grayish-color: #f5f5f5;
$frame-color: #d1d1d1;
$fontText: "Roboto", sans-serif;

$breakpoint-macbook: 1440px;
$breakpoint-laptop-end: 1281px;
$breakpoint-laptop: 1280px;
$breakpoint-ipadpro-end: 1025px;
$breakpoint-ipadpro: 1024px;
$breakpoint-ipad-end: 769px;
$breakpoint-ipad: 768px;
$breakpoint-surface-end: 541px;
$breakpoint-surface: 540px;
$breakpoint-iphone-end: 375px;
$breakpoint-iphone: 375px;

.marketplace-main {
  .addproduct-btn {
    color: $white-color;
    background: $purple-color;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 50px auto;
    display: block;
  }
  #search {
    width: 35%;
    margin: 30px auto;
    display: block;
    background: $purple-light_color url(../../img/shop/search.png) 3% / 16px
      no-repeat;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  ::placeholder {
    font-size: 0.8rem;
    color: $blue-dark_color;
  }
  #addproduct {
    padding: 1.5rem;
    background-color: $purple-color;
    border-radius: 0.5em;
    color: $white-color;
    text-align: center;
    display: block;
    width: 15%;
    margin: 2% auto;
  }
  .marketplace-headers {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      width: 90%;
      margin: 5% 0;
    }
    p {
      width: 68%;
      margin-bottom: 4%;
    }
  }
}
#marketplace,
#product-sold {
  padding: 5em;
  display: grid;
  grid-template-columns: 1fr 3fr;

  aside {
    div {
      display: flex;
      flex-direction: column;
      width: 80%;
      li {
        display: flex;
        justify-content: space-between;
        margin-top: 4%;
        input[type="checkbox"] {
          margin-right: 10px;
        }
        input[type="checkbox"]:checked {
          position: relative;
        }
        input[type="checkbox"]:checked::before {
          content: "\2713";
          color: $white-color;
          font-size: 0.7rem;
          text-align: center;
          background: $purple-color;
          position: absolute;
          top: 0;
          left: 0;
          height: 13px;
          width: 13px;
          border-radius: 3px;
        }
        span {
          color: $purple-color;
          background: $grayish-color;
          padding: 1px 12px;
          border-radius: 12px;
        }
      }
      li:last-of-type {
        margin-bottom: 10%;
      }
      .filter-btn {
        display: inline;
        margin-top: 20%;
      }
      .filter-btn button:first-of-type {
        color: $white-color;
        background: $purple-color;
        border: none;
        border-radius: 10px;
        height: 50px;
        width: 110px;
      }
      .filter-btn button:last-of-type {
        color: $purple-color;
        background: $white-color;
        border: 1px solid $purple-color;
        border-radius: 10px;
        height: 50px;
        width: 110px;
        margin-left: 10%;
      }
    }
  }

  article {
    margin-bottom: 2em;
    align-items: center;
    display: flex;
    gap: 2em;
    border: solid 1px $frame-color;
    img {
      width: 400px;
      height: 400px;
      object-fit: cover;
      object-position: top center;
      min-width: 40%;
    }
    div {
      padding: 2em;
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction: column;
      .price,
      .title {
        font-weight: 700;
      }
      a {
        padding: 1em;
        background-color: $purple-color;
        border-radius: 0.5em;
        margin-bottom: 1em;
        color: $white-color;
        text-align: center;
        .arrow::after {
          content: "\003E";
          font-weight: bold;
        }
      }
      .like {
        padding: 1em;
        border-radius: 0.5em;
        text-align: center;
        // .heart::after {
        //   background-image: url("../../img/shop/like.svg");
        //   background-size: 16px 16px;
        //   display: inline-block;
        //   width: 16px;
        //   height: 16px;
        //   content: "";
        // }
      }
      p {
        margin-bottom: 1em;
      }
    }
  }
  .myArticles{
    border: solid 1px $yellow-color;
  }
}

// SLIDER

input[type="range"] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animation: 0.2s;
  background: $purple-color;
  border-radius: 15px;
}
input[type="range"]::-webkit-slider-thumb {
  border: 1px solid gray;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.heart.liked {
  background-image: url("../../img/shop/like-red.svg");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
}


//Mediaqueries

// Macbook
@media (min-width: $breakpoint-ipadpro-end) and (max-width: $breakpoint-macbook) {
  #marketplace {
    aside {
      div {
        .filter-btn {
          button:last-of-type {
          margin-left: 0%;
          margin-top: 5%;
          }
        }
      }
    }
  }
}
// Ipad Pro
@media (min-width: $breakpoint-ipad-end) and (max-width: $breakpoint-ipadpro) {
  #marketplace,
  #product-sold {
    article {
      flex-direction: column;
    }
    .filter-btn button:first-of-type {
      margin: 30px 0 30px 10%;
    }
    .filter-btn button:last-of-type {
      margin-left: 0%;
    }
  }
  .marketplace-main .marketplace-headers h1 {
    margin-top: 20%;
  }
}
// Ipad
@media (min-width: $breakpoint-surface-end) and (max-width: $breakpoint-ipad) {
  #marketplace,
  #product-sold {
    padding: 2em;
    display: flex;

    aside {
      min-width: 30%;
      div {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    article {
      flex-direction: column;
      margin-left: 10%;
      img {
        max-width: 100%;
      }
    }
    .filter-btn button:first-of-type {
      margin: 30px 0 30px 10%;
    }
  }
  .marketplace-main .marketplace-headers h1 {
    margin-top: 20%;
  }
}

// Surface
@media (min-width: $breakpoint-iphone-end) and (max-width: $breakpoint-surface) {
  #marketplace,
  #product-sold {
    margin: 0;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    aside {
      display: none;
    }
    article {
      margin-bottom: 2em;
      flex-direction: column;
      width: 100%;
    }
  }
  .marketplace-main .marketplace-headers h1 {
    margin-top: 20%;
  }
}

// Iphone
@media (max-width: $breakpoint-iphone) {
  #marketplace,
  #product-sold {
    margin: 0;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;

    article {
      margin-bottom: 2em;
      flex-direction: column;
      width: 100%;
      img {
        width: 370px;
        height: 370px;
      }
    }
  }
}
