$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$yellow-color: #ffba49;

$fontText: "Roboto", sans-serif;

nav {
  min-height: 10vh;
  padding: 46px 4% 0 5%;
  display: flex;
  width: 100%;
  justify-content: space-between;

  #logo {
    font-weight: 700;
    width: 12%;
  }

  ul {
    display: flex;
    justify-content: center;
    width: 64%;
    align-items: center;
    li {
      padding-right: 3.8rem;
    }
  }
  #login {
    width: 24%;
    text-align: right;
    li {
      padding-right: 1rem;
    }
    #btn-register {
      padding: 16px 27px 15px 27px;
      border-radius: 5px;
      background-color: $purple-color;
      color: $white-color;
    }
  }
}
