$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$yellow-color: #ffba49;
$logout-color: #dc004e;

$fontText: "Roboto",
sans-serif;

nav {
  min-height: 10vh;
  padding: 0 5%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;

  #logo {
    font-weight: 700;
    width: 12%;
  }

  ul {
    display: flex;
    justify-content: center;
    width: 64%;
    align-items: center;

    li {
      padding-right: 4rem;
    }
  }

  .toolbar {
    display: flex;
    align-items: center;
    width: 20%;
    .btn {
      text-transform: inherit;
      border-radius: 5px;
      border: none;
      margin-left: 2%;
    }

    .login {
      width: 20%;
      padding: 15px 5px;
    }

    .register {
      background-color: $purple-color;
      color: $white-color;
      padding: 15px 35px;
    }

    .profile {
      display: flex;
      align-items: center;

      .userName {
        color: $white-color;
        background-color: $purple-color;
      }

      .logout {
        color: $white-color;
        background-color: $logout-color;
        padding: 15px 25px;
        margin-left: 10%;
      }
    }
  }
}