$white-color: #ffffff;
$blue-dark_color: #272d4e;
$blue-color: #0e65f3;
$blue-light_color: #1a88ee;
$purple-light_color: #b6a6fb;
$purple-color: #7854f7;
$yellow-color: #ffba49;
$logout-color: #dc004e;

$breakpoint-ipadpro-end: 1025px;
$breakpoint-ipadpro: 1024px;
$breakpoint-ipad-end: 769px;
$breakpoint-ipad: 768px;

$fontText: "Roboto",
sans-serif;

nav {
  position: fixed;
  top: 0;
  background-color: $white-color;
  z-index: 99999;
  min-height: 10vh;
  padding: 0 5%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  border-bottom: 1px solid $purple-light_color;

  .icon {
    display: none;
  }

  #logo {
    font-weight: 700;
    width: 12%;
  }

  .ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding-right: 2rem;
      font-size: .9rem;
    }
  }

  .lgout {
    width: 30%;
  }

  .lgin {
    width: 70%;
  }

}

.toolbar {
  display: flex;
  align-items: center;
  width: 20%;

  .profile {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .btn {
      border-radius: 5px;
      border: none;
    }

    .register {
      background-color: $purple-color;
      color: $white-color;
      padding: 15px 25px;

      span {
        text-transform: capitalize;
      }
    }

    .login {
      padding: 15px 5px;

      span {
        text-transform: capitalize;
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;

    .userName {
      color: $white-color;
      background-color: $yellow-color;
      width: 27%;
      height: 27%;
    }

    .logout {
      color: $white-color;
      background-color: $purple-light_color;
      padding: 15px 25px;
      margin-left: 10%;
    }
  }
}


// BREAK-POINT: 1024px
@media (max-width: $breakpoint-ipadpro) {
  nav {

    li {
      display: none;
    }

    .icon {
      display: inline-block;
      font-size: 2rem;
      color: $purple-light_color;
    }

    #logo {
      font-weight: 700;
      width: 15%;

      .home {
        color: $purple-color;
        font-size: 2.8rem;
      }
    }

    .lgout {
      width: 19%;
    }

    .lgin {
      width: 30%;
      justify-content: space-between;
    }
  }

  .toolbar {
    justify-content: flex-end;
    width: 55%;

    .profile {
      width: 50%;

      .btn {
        padding: 6px 10px;
      }

      .logout {
        padding: 15px 25px;
      }

      .userName {
        width: 35%;
        height: 35%;
      }
    }
  }
}

// BREAK-POINT: 768px
@media (max-width: $breakpoint-ipad) {
  nav {
    #logo {
      margin-right: 5%;
    }

    .ul {
      .icon {
        display: inline-block;
        font-size: 2.2rem;
      }
    }

    .lgout {
      width: 15%;
    }

    .lgin {
      width: 30%;
      justify-content: space-between;
    }
  }

  .toolbar {
    justify-content: flex-end;
    width: 50%;

    .profile {
      width: 65%;
      .btn {
        padding: 6px 10px;
      }

      .logout {
        padding: 15px 25px;
      }

      .userName {
        width: 35%;
        height: 35%;
      }

      .login {
        padding: 10px 5px;
      }

      .register {
        padding: 10px 10px;
      }
    }
  }
}