nav {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 99999;
  min-height: 10vh;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1%;
}

nav #logo {
  font-weight: 700;
  width: 12%;
}

nav .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .ul li {
  padding-right: 2rem;
  font-size: .9rem;
}

nav .lgout {
  width: 30%;
}

nav .lgin {
  width: 70%;
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.toolbar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.toolbar .profile .btn {
  border-radius: 5px;
  border: none;
}

.toolbar .profile .register {
  background-color: #7854f7;
  color: #ffffff;
  padding: 15px 25px;
}

.toolbar .profile .register span {
  text-transform: capitalize;
}

.toolbar .profile .login {
  padding: 15px 5px;
}

.toolbar .profile .login span {
  text-transform: capitalize;
}

.toolbar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolbar .profile .userName {
  color: #ffffff;
  background-color: #ffba49;
}

.toolbar .profile .logout {
  color: #ffffff;
  background-color: #b6a6fb;
  padding: 15px 25px;
  margin-left: 10%;
}

@media (max-width: 1024px) {
  nav {
    background-color: red;
    padding: 0 5%;
    width: 100%;
  }
  nav #logo {
    font-weight: 700;
    width: 12%;
  }
  nav .ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .ul li {
    padding-right: 2rem;
    font-size: .9rem;
  }
  nav .lgout {
    width: 30%;
  }
  nav .lgin {
    width: 70%;
  }
  .toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20%;
  }
  .toolbar .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .toolbar .profile .btn {
    border-radius: 5px;
    border: none;
  }
  .toolbar .profile .register {
    background-color: #7854f7;
    color: #ffffff;
    padding: 15px 25px;
  }
  .toolbar .profile .register span {
    text-transform: capitalize;
  }
  .toolbar .profile .login {
    padding: 15px 5px;
  }
  .toolbar .profile .login span {
    text-transform: capitalize;
  }
  .toolbar .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .toolbar .profile .userName {
    color: #ffffff;
    background-color: #ffba49;
  }
  .toolbar .profile .logout {
    color: #ffffff;
    background-color: #b6a6fb;
    padding: 15px 25px;
    margin-left: 10%;
  }
}
/*# sourceMappingURL=Nav.css.map */